# Power BI Configs
VITE_PBI_PROXY_URL=https://<your-proxy-domain>.vercel.app/api/get-token
VITE_PBI_CLIENT_ID=seu_client_id_aqui
VITE_PBI_USERNAME=seu_email@dominio.com
VITE_PBI_PASSWORD=sua_senha_aqui
VITE_PBI_CLIENT_SECRET=seu_client_secret_aqui

# Variáveis de ambiente do Firebase
# Firebase Console: https://console.firebase.google.com

VITE_FIREBASE_API_KEY=sua_api_key_aqui
VITE_FIREBASE_AUTH_DOMAIN=seu_auth_domain_aqui
VITE_FIREBASE_PROJECT_ID=seu_project_id_aqui
VITE_FIREBASE_STORAGE_BUCKET=seu_storage_bucket_aqui
VITE_FIREBASE_MESSAGING_SENDER_ID=seu_sender_id_aqui
VITE_FIREBASE_APP_ID=seu_app_id_aqui
